<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head>
<body>
    <header class="header">

        <!-- left box for logo -->
        <!-- <div class="left">
            <img src="logo" alt="loading">
        </div> -->

        <!-- mid box for navbar -->
        <div class="mid">
            <ul class="navbar">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Trending</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>

        <!-- right box for buttons -->
        <div class="right">
            <button class="btn">Search Here</button>
            <button class="btn">Login</button>
        </div>

    </header>

    <div class="container">
        <h1>Book Movies on 30% discount</h1>
        <form action="/" method="post" id='contact'>
            <div class="form-group">
                <input type="text" name="movie" placeholder="Movie you wanna watch">
            </div>
            <div class="form-group">
                <input type="text" name="nam" placeholder="Your Name">
            </div>
            <div class="form-group">
                <input type="number" name="watchers" placeholder="Number of Watchers">
            </div>
            <div class="form-group">
                <input type="time" name="time" placeholder="Preferred time">
            </div>
            <div class="form-group">
                <input type="text" name="contac" placeholder="Your Contact">
            </div>

            <button class="btn">
                <div>Make Payment</div>
            </button>
        </form>
    </div>
</div>
</body>
</html>